// Variables

$outline-helper: #00bfff; //#ff1493;#ffb6a1
$green: #228b22;
$green-bg: rgba($green, 0.5);
$orange: #ffa800;
$orange-bg: rgba($orange, 0.3);
$blue-bg: rgba(#46a2b4, .3);
$blue: #46a2b4; //#2f4f4f;
$black-bg: rgba(black, 0.5);
$white: #ffffff;
